# Auto detect text files and perform LF normalization
* text=auto

# Unity files
*.cs text diff=csharp
*.cginc text
*.shader text

# Unity YAML (Force LF and use unityyamlmerge)
*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.tiff binary
*.tga binary
*.cubemap binary
*.bmp binary
*.exr binary

# Audio
*.wav binary
*.mp3 binary
*.ogg binary
*.aif binary
*.aiff binary

# Video
*.mp4 binary
*.mov binary
*.webm binary

# Models
*.fbx binary
*.obj binary
*.blend binary
*.dae binary
*.3ds binary
*.dxf binary

# Archives
*.zip binary
*.7z binary
*.rar binary
*.tar binary
*.gz binary

# Executables and libs
*.exe binary
*.dll binary
*.so binary
*.dylib binary
